In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
!pip install nba_api
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
import unicodedata

Requirement already satisfied: nba_api in /usr/local/lib/python3.11/dist-packages (1.9.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from nba_api) (2.0.2)
Requirement already satisfied: pandas>=2.1.0 in /usr/local/lib/python3.11/dist-packages (from nba_api) (2.2.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /usr/local/lib/python3.11/dist-packages (from nba_api) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1.0->nba_api) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1.0->nba_api) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.1.0->nba_api) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.1.0->nba_api) (1.17.0)

In [38]:
myF=open("NBA_players_clean.csv")
mydf=pd.read_csv(myF)
myF.close()
#Converting the csv from kaggle to a dataframe.

In [106]:
#Since the player names in the kaggle dataset have accents, and the data that I extracted
#from the nba api doesn't, I need to remove the acents from the names in the kaggle data
#before merging the 2 dataframes.

def remove_accents(w):
    # Normalize to NFD (decompose accented chars into base char + combining mark)
    nfd_form = unicodedata.normalize('NFD', w)
    # Keep only non-combining characters (remove diacritics)
    return ''.join(char for char in nfd_form if unicodedata.category(char) != 'Mn')

In [76]:
mydf.head(50)

,Player,From,To,Years,Height,Wt,G,PTS,TRB,AST,PER,BMI
0,Alaa Abdelnaby,1991,1995,5,6.833333,240.0,256,5.7,3.3,0.3,13.0,25.094670
1,Mahmoud Abdul-Rauf,1991,2001,11,6.083333,162.0,586,14.6,1.9,3.5,15.4,21.373087
2,Tariq Abdul-Wahad,1998,2003,6,6.500000,223.0,236,7.8,3.3,1.1,11.4,25.769952
3,Shareef Abdur-Rahim,1997,2008,12,6.750000,225.0,830,18.1,7.5,2.5,19.0,24.110734
4,Álex Abrines,2017,2019,3,6.500000,200.0,174,5.3,1.4,0.5,8.8,23.112065
5,Alex Acker,2006,2009,4,6.416667,185.0,30,2.7,1.0,0.5,8.5,21.937555
6,Mark Acres,1988,1993,6,6.916667,220.0,375,3.6,4.1,0.5,9.0,22.452487
7,Quincy Acy,2013,2019,7,6.583333,240.0,337,4.9,3.5,0.6,11.2,27.036783
8,Hassan Adams,2007,2009,3,6.333333,220.0,73,2.5,1.2,0.2,11.8,26.778944
9,Jordan Adams,2015,2016,2,6.416667,209.0,32,3.2,0.9,0.6,13.1,24.783509
10,Michael Adams,1986,1996,11,5.833333,162.0,653,14.7,2.9,6.4,16.6,23.244322
11,Rafael Addison,1987,1997,11,6.583333,215.0,379,5.8,2.1,0.9,10.5,24.220451
12,Deng Adel,2019,2019,1,6.583333,200.0,19,1.7,1.0,0.3,2.7,22.530652
13,Jeff Adrien,2011,2015,5,6.583333,245.0,153,4.6,4.3,0.7,15.0,27.600049
14,Arron Afflalo,2008,2018,11,6.416667,210.0,762,10.8,2.9,1.8,11.9,24.902090
15,Maurice Ager,2007,2011,5,6.416667,202.0,82,2.1,0.6,0.2,2.8,23.953439
16,Mark Aguirre,1982,1994,13,6.500000,232.0,923,20.0,5.0,3.1,19.0,26.809995
17,Blake Ahearn,2008,2012,5,6.166667,190.0,19,4.6,1.2,1.2,7.2,24.394286
18,Danny Ainge,1982,1995,14,6.333333,175.0,1042,11.5,2.7,4.0,14.7,21.301433
19,Alexis Ajinça,2009,2017,9,7.166667,248.0,293,5.3,3.9,0.5,14.9,23.575056
20,Solomon Alabi,2011,2012,2,7.083333,251.0,26,1.5,2.3,0.2,10.3,24.424958
21,Mark Alarie,1987,1991,5,6.666667,217.0,325,7.5,3.4,1.1,13.0,23.838433
22,Furkan Aldemir,2015,2015,1,6.833333,240.0,41,2.3,4.3,0.7,12.0,25.094670
23,Cole Aldrich,2011,2018,8,6.916667,250.0,339,3.1,3.3,0.5,16.6,25.514190
24,Chuck Aleksinas,1985,1985,1,6.916667,260.0,74,5.1,3.6,0.5,9.1,26.534757
25,Cory Alexander,1996,2005,10,6.083333,185.0,307,5.5,1.6,2.7,12.4,24.407537
26,Courtney Alexander,2001,2003,3,6.416667,205.0,187,9.0,2.2,1.2,11.5,24.309183
27,Gary Alexander,1994,1994,1,6.583333,240.0,11,1.7,1.4,0.2,8.6,27.036783
28,Joe Alexander,2009,2010,2,6.666667,230.0,67,4.2,1.8,0.7,9.9,25.266542
29,Victor Alexander,1992,2002,11,6.750000,265.0,286,8.9,4.8,0.9,13.7,28.397087
30,Steve Alford,1988,1991,4,6.166667,183.0,169,4.4,0.9,1.0,14.4,23.495549
31,Rawle Alkins,2019,2019,1,6.416667,225.0,10,3.7,2.6,1.3,8.1,26.680811
32,Jerome Allen,1996,1997,2,6.333333,184.0,117,2.9,1.1,1.7,8.5,22.396935
33,Kadeem Allen,2018,2020,3,6.083333,200.0,47,5.5,1.5,2.3,13.5,26.386527
34,Lavoy Allen,2012,2017,6,6.750000,260.0,388,4.8,4.8,1.0,12.5,27.861293
35,Malik Allen,2002,2011,10,6.833333,255.0,478,4.9,2.8,0.5,9.9,26.663087
36,Randy Allen,1989,1990,2,6.666667,220.0,70,3.6,2.1,0.3,8.3,24.167997
37,Ray Allen*,1997,2014,18,6.416667,205.0,1300,18.9,4.1,3.4,18.6,24.309183
38,Tony Allen,2005,2018,14,6.333333,213.0,820,8.1,3.5,1.3,14.2,25.926887
39,Darrell Allums,1981,1981,1,6.750000,220.0,22,2.7,3.0,1.1,5.3,23.574940
40,Morris Almond,2008,2012,5,6.500000,225.0,38,3.1,1.2,0.3,7.0,26.001073
41,Derrick Alston,1995,1997,3,6.916667,225.0,139,5.4,3.8,0.7,11.7,22.962771
42,Rafer Alston,2000,2010,11,6.166667,171.0,671,10.1,2.8,4.8,13.2,21.954858
43,John Amaechi,1996,2003,8,6.833333,270.0,294,6.2,2.6,0.8,8.9,28.231504
44,Ashraf Amaya,1996,1997,2,6.666667,230.0,85,4.5,4.2,0.4,11.5,25.266542
45,Lou Amundson,2007,2016,10,6.750000,220.0,428,3.7,3.6,0.4,12.0,23.574940
46,Chris Andersen,2002,2017,16,6.833333,245.0,695,5.4,5.0,0.5,16.7,25.617476
47,David Andersen,2010,2011,2,6.916667,245.0,103,4.9,2.8,0.6,11.7,25.003906
48,Alan Anderson,2006,2017,12,6.500000,220.0,330,7.3,2.2,1.1,10.3,25.423271
49,Derek Anderson,1998,2008,11,6.416667,194.0,615,12.0,3.2,3.4,15.3,23.004788

In [91]:
mydf.dtypes

Player     object
From        int64
To          int64
Years       int64
Height    float64
Wt        float64
G           int64
PTS       float64
TRB       float64
AST       float64
PER       float64
BMI       float64
dtype: object

In [41]:
mydf.shape

(5023, 39)

In [42]:
mydf=mydf[["Player","From","To","Years","Height","Wt","G","PTS","TRB","AST","PER"]]
mydf.head()
#Kept the columns that I needed.

,Player,From,To,Years,Height,Wt,G,PTS,TRB,AST,PER
0,Alaa Abdelnaby,1991,1995,5,6.833333,240.0,256,5.7,3.3,0.3,13.0
1,Zaid Abdul-Aziz,1969,1978,10,6.750000,235.0,505,9.0,8.0,1.2,15.1
2,Kareem Abdul-Jabbar*,1970,1989,20,7.166667,225.0,1560,24.6,11.2,3.6,24.6
3,Mahmoud Abdul-Rauf,1991,2001,11,6.083333,162.0,586,14.6,1.9,3.5,15.4
4,Tariq Abdul-Wahad,1998,2003,6,6.500000,223.0,236,7.8,3.3,1.1,11.4

In [43]:
mydf=mydf[(mydf["From"]>=1980) & (mydf["To"]<=2020) & (mydf["G"]>=10)]
mydf.reset_index(drop=True, inplace=True)
mydf.head()
#I dropped the player that started playing after 1980, because I need stats of turnovers, block and steals.
#Some of these stats weren't recorded until 1980.
#Also I needed to drop active players as well, since we don't know their actual career length.
#So, I dropped the players that continued playing after the year 2020 .

,Player,From,To,Years,Height,Wt,G,PTS,TRB,AST,PER
0,Alaa Abdelnaby,1991,1995,5,6.833333,240.0,256,5.7,3.3,0.3,13.0
1,Mahmoud Abdul-Rauf,1991,2001,11,6.083333,162.0,586,14.6,1.9,3.5,15.4
2,Tariq Abdul-Wahad,1998,2003,6,6.500000,223.0,236,7.8,3.3,1.1,11.4
3,Shareef Abdur-Rahim,1997,2008,12,6.750000,225.0,830,18.1,7.5,2.5,19.0
4,Álex Abrines,2017,2019,3,6.500000,200.0,174,5.3,1.4,0.5,8.8

In [107]:
mydf["BMI"]=(mydf["Wt"]*0.453592)/((mydf["Height"]*30.48/100)**2)
mydf["Player"]=mydf["Player"].str.replace("*","")
mydf["Player"]=mydf["Player"].apply(remove_accents)
mydf.head()
#I removed the * symbol from the strings, because in the kaggle dataset the players
#that made the hall of fame had * in the end of their name, but the players
#that I extracted from the nba api didn't.

,Player,From,To,Years,Height,Wt,G,PTS,TRB,AST,PER,BMI
0,Alaa Abdelnaby,1991,1995,5,6.833333,240.0,256,5.7,3.3,0.3,13.0,25.094670
1,Mahmoud Abdul-Rauf,1991,2001,11,6.083333,162.0,586,14.6,1.9,3.5,15.4,21.373087
2,Tariq Abdul-Wahad,1998,2003,6,6.500000,223.0,236,7.8,3.3,1.1,11.4,25.769952
3,Shareef Abdur-Rahim,1997,2008,12,6.750000,225.0,830,18.1,7.5,2.5,19.0,24.110734
4,Alex Abrines,2017,2019,3,6.500000,200.0,174,5.3,1.4,0.5,8.8,23.112065

In [84]:
mydf.shape

(2180, 12)

In [47]:
mydf.isnull().sum()
#Missing data.

Player    0
From      0
To        0
Years     0
Height    0
Wt        0
G         0
PTS       0
TRB       0
AST       0
PER       0
BMI       0
dtype: int64

In [ ]:
import time
import pandas as pd
import logging
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
from requests.exceptions import ReadTimeout

# Set up logging
logging.basicConfig(filename='nba_skipped_players.log', level=logging.INFO,
                    format='%(asctime)s - %(message)s')

# Load existing DataFrame (if available)
try:
    existing_df = pd.read_csv('nba_filtered_players_batch_47.csv')
    print(f"Loaded existing DataFrame with {len(existing_df)} players")
except FileNotFoundError:
    existing_df = pd.DataFrame(columns=[
        'Name', 'Regular_Season_Games_Played', 'Points_Per_Game', 'Assists_Per_Game',
        'Rebounds_Per_Game', 'Steals_Per_Game', 'Blocks_Per_Game', 'Turnovers_Per_Game', 'PER'
    ])
    print("No existing CSV found, starting with empty DataFrame")

# Initialize lists for new data
player_names = list(existing_df['Name']) if not existing_df.empty else []
games_played = list(existing_df['Regular_Season_Games_Played']) if not existing_df.empty else []
points_per_game = list(existing_df['Points_Per_Game']) if not existing_df.empty else []
assists_per_game = list(existing_df['Assists_Per_Game']) if not existing_df.empty else []
rebounds_per_game = list(existing_df['Rebounds_Per_Game']) if not existing_df.empty else []
steals_per_game = list(existing_df['Steals_Per_Game']) if not existing_df.empty else []
blocks_per_game = list(existing_df['Blocks_Per_Game']) if not existing_df.empty else []
turnovers_per_game = list(existing_df['Turnovers_Per_Game']) if not existing_df.empty else []
per_values = list(existing_df['PER']) if not existing_df.empty else []

# Get all players and skip first 4700
all_players = players.get_players()[4700:]  # Start from player 4701
print(f"Found {len(all_players)} remaining players to process")

# Process players in batches, since nba_api blocks me from getting data continously.
batch_size = 100
for batch_start in range(0, len(all_players), batch_size):
    batch = all_players[batch_start:batch_start + batch_size]
    batch_number = (batch_start // batch_size) + (4700 // batch_size) + 1
    print(f"Processing batch {batch_number} ({4700 + batch_start + 1} to {min(4700 + batch_start + batch_size, 4700 + len(all_players))})")

    for i, player in enumerate(batch):
        global_index = 4700 + batch_start + i + 1
        player_name = player['full_name']
        player_id = player['id']
        print(f"[{global_index}/{4700 + len(all_players)}] Processing {player_name} (ID: {player_id})")

        # Initialize defaults
        games = ppg = apg = rpg = spg = bpg = tpg = per = 'N/A'

        # Fetch career stats with retry logic
        for attempt in range(5):
            try:
                career = playercareerstats.PlayerCareerStats(player_id=player_id, timeout=60)
                career_totals = career.get_data_frames()[1]  # Career Totals
                break
            except ReadTimeout as e:
                print(f"Attempt {attempt + 1} timed out: {e}")
                time.sleep(5)
                if attempt == 4:
                    logging.info(f"Skipped {player_name} (ID: {player_id}): All 5 attempts timed out")
                    career_totals = pd.DataFrame()
                    break
            except Exception as e:
                print(f"Attempt {attempt + 1} failed: {e}")
                time.sleep(5)
                if attempt == 4:
                    logging.info(f"Skipped {player_name} (ID: {player_id}): Failed after 5 attempts - {e}")
                    career_totals = pd.DataFrame()
                    break

        # Filter: >= 10 games
        if not career_totals.empty:
            games = career_totals['GP'].iloc[0] if 'GP' in career_totals.columns else 0
            if games < 10:
                print(f"Skipping {player_name}: Games={games}")
                logging.info(f"Skipped {player_name} (ID: {player_id}): Games={games}")
                continue
        else:
            print(f"Skipping {player_name}: No career data")
            logging.info(f"Skipped {player_name} (ID: {player_id}): No career data")
            continue

        # Extract stats from career_totals
        ppg = round(career_totals['PTS'].iloc[0] / games, 1) if games > 0 and 'PTS' in career_totals.columns and career_totals['PTS'].iloc[0] is not None else 'N/A'
        apg = round(career_totals['AST'].iloc[0] / games, 1) if games > 0 and 'AST' in career_totals.columns and career_totals['AST'].iloc[0] is not None else 'N/A'
        rpg = round(career_totals['REB'].iloc[0] / games, 1) if games > 0 and 'REB' in career_totals.columns and career_totals['REB'].iloc[0] is not None else 'N/A'
        spg = round(career_totals['STL'].iloc[0] / games, 1) if games > 0 and 'STL' in career_totals.columns and career_totals['STL'].iloc[0] is not None else 'N/A'
        bpg = round(career_totals['BLK'].iloc[0] / games, 1) if games > 0 and 'BLK' in career_totals.columns and career_totals['BLK'].iloc[0] is not None else 'N/A'
        tpg = round(career_totals['TOV'].iloc[0] / games, 1) if games > 0 and 'TOV' in career_totals.columns and career_totals['TOV'].iloc[0] is not None else 'N/A'
        per = round(career_totals['PER'].iloc[0], 1) if 'PER' in career_totals.columns and career_totals['PER'].iloc[0] is not None else 'N/A'

        # Append to lists
        player_names.append(player_name)
        games_played.append(games)
        points_per_game.append(ppg)
        assists_per_game.append(apg)
        rebounds_per_game.append(rpg)
        steals_per_game.append(spg)
        blocks_per_game.append(bpg)
        turnovers_per_game.append(tpg)
        per_values.append(per)

        time.sleep(0.6)  # Avoid rate limits within batch

    # Create and save intermediate DataFrame
    temp_df = pd.DataFrame({
        'Name': player_names,
        'Regular_Season_Games_Played': games_played,
        'Points_Per_Game': points_per_game,
        'Assists_Per_Game': assists_per_game,
        'Rebounds_Per_Game': rebounds_per_game,
        'Steals_Per_Game': steals_per_game,
        'Blocks_Per_Game': blocks_per_game,
        'Turnovers_Per_Game': turnovers_per_game,
        'PER': per_values
    })
    temp_df.to_csv(f'nba_filtered_players_batch_{batch_number}.csv', index=False)
    print(f"Intermediate DataFrame saved to nba_filtered_players_batch_{batch_number}.csv")

    # Save updated full DataFrame
    temp_df.to_csv('nba_filtered_players.csv', index=False)
    print("Updated full DataFrame saved to nba_filtered_players.csv")

    # Pause between batches
    time.sleep(10)

# Create final DataFrame
df = pd.DataFrame({
    'Name': player_names,
    'Regular_Season_Games_Played': games_played,
    'Points_Per_Game': points_per_game,
    'Assists_Per_Game': assists_per_game,
    'Rebounds_Per_Game': rebounds_per_game,
    'Steals_Per_Game': steals_per_game,
    'Blocks_Per_Game': blocks_per_game,
    'Turnovers_Per_Game': turnovers_per_game,
    'PER': per_values
})

# Save to CSV
df.to_csv('nba_filtered_players.csv', index=False)
print("Final DataFrame saved to nba_filtered_players.csv")

Loaded existing DataFrame with 4125 players
Found 324 remaining players to process
Processing batch 48 (4701 to 4800)
[4701/5024] Processing James Webb III (ID: 1627821)
[4702/5024] Processing Chris Webber (ID: 185)
[4703/5024] Processing Briante Weber (ID: 1627362)
[4704/5024] Processing Forest Weber (ID: 78479)
[4705/5024] Processing Jeff Webster (ID: 1067)
[4706/5024] Processing Martell Webster (ID: 101110)
[4707/5024] Processing Marvin Webster (ID: 78481)
[4708/5024] Processing Scott Wedman (ID: 78482)
[4709/5024] Processing Sonny Weems (ID: 201603)
[4710/5024] Processing Dick Wehr (ID: 78483)
Skipping Dick Wehr: Games=9
[4711/5024] Processing Brant Weidner (ID: 78484)
Skipping Brant Weidner: Games=8
[4712/5024] Processing Bob Weiss (ID: 78485)
[4713/5024] Processing Rick Weitzman (ID: 78486)
[4714/5024] Processing Bonzi Wells (ID: 1719)
[4715/5024] Processing Bubba Wells (ID: 1528)
[4716/5024] Processing Jaylen Wells (ID: 1642377)
[4717/5024] Processing Owen Wells (ID: 78488)
[4718/5024] Processing Ralph Wells (ID: 78489)
Skipping Ralph Wells: Games=3
[4719/5024] Processing Chris Welp (ID: 1846)
[4720/5024] Processing Jiri Welsch (ID: 2412)
[4721/5024] Processing Thomas Welsh (ID: 1629118)
[4722/5024] Processing Victor Wembanyama (ID: 1641705)
[4723/5024] Processing Bill Wennington (ID: 82)
[4724/5024] Processing Matt Wenstrom (ID: 78492)
[4725/5024] Processing Robert Werdann (ID: 438)
[4726/5024] Processing Ray Wertis (ID: 78494)
[4727/5024] Processing Blake Wesley (ID: 1631104)
[4728/5024] Processing David Wesley (ID: 133)
[4729/5024] Processing Walt Wesley (ID: 78495)
[4730/5024] Processing David West (ID: 2561)
[4731/5024] Processing Delonte West (ID: 2753)
[4732/5024] Processing Doug West (ID: 28)
[4733/5024] Processing Jerry West (ID: 78497)
[4734/5024] Processing Mario West (ID: 201238)
[4735/5024] Processing Mark West (ID: 770)
[4736/5024] Processing Roland West (ID: 78499)
Skipping Roland West: Games=4
[4737/5024] Processing Russell Westbrook (ID: 201566)
[4738/5024] Processing Paul Westphal (ID: 78500)
[4739/5024] Processing John Wetzel (ID: 78501)
[4740/5024] Processing Robert Whaley (ID: 101156)
[4741/5024] Processing Ennis Whatley (ID: 941)
[4742/5024] Processing DeJuan Wheat (ID: 1545)
[4743/5024] Processing Clinton Wheeler (ID: 78504)
[4744/5024] Processing Phillip Wheeler (ID: 1630762)
Skipping Phillip Wheeler: Games=5
[4745/5024] Processing Tyson Wheeler (ID: 1755)
Skipping Tyson Wheeler: Games=1
[4746/5024] Processing Lucian Whitaker (ID: 78506)
Skipping Lucian Whitaker: Games=3
[4747/5024] Processing Coby White (ID: 1629632)
[4748/5024] Processing DJ White (ID: 201591)
[4749/5024] Processing Derrick White (ID: 1628401)
[4750/5024] Processing Eric White (ID: 78507)
[4751/5024] Processing Herb White (ID: 78508)
[4752/5024] Processing Hubie White (ID: 78509)
[4753/5024] Processing Jack White (ID: 1631298)
[4754/5024] Processing Jahidi White (ID: 1751)
[4755/5024] Processing James White (ID: 200778)
[4756/5024] Processing Jojo White (ID: 78510)
[4757/5024] Processing Okaro White (ID: 1627855)
[4758/5024] Processing Randy White (ID: 1839)
[4759/5024] Processing Rodney White (ID: 2206)
[4760/5024] Processing Rory White (ID: 78512)
[4761/5024] Processing Royce White (ID: 203091)
Skipping Royce White: Games=3
[4762/5024] Processing Rudy White (ID: 78513)
[4763/5024] Processing Terrico White (ID: 202358)
Skipping Terrico White: No career data
[4764/5024] Processing Tony White (ID: 78514)
[4765/5024] Processing Willie White (ID: 78515)
[4766/5024] Processing Andrew White III (ID: 1628510)
[4767/5024] Processing Dariq Whitehead (ID: 1641727)
[4768/5024] Processing Isaiah Whitehead (ID: 1627785)
[4769/5024] Processing Jerome Whitehead (ID: 78516)
[4770/5024] Processing Donald Whiteside (ID: 1126)
[4771/5024] Processing Hassan Whiteside (ID: 202355)
[4772/5024] Processing Dwayne Whitfield (ID: 730)
Skipping Dwayne Whitfield: Games=8
[4773/5024] Processing Cam Whitmore (ID: 1641715)
[4774/5024] Processing Charles Whitney (ID: 78519)
[4775/5024] Processing Chris Whitney (ID: 43)
[4776/5024] Processing Greg Whittington (ID: 204222)
Skipping Greg Whittington: Games=4
[4777/5024] Processing Shayne Whittington (ID: 203963)
[4778/5024] Processing Sidney Wicks (ID: 78520)
[4779/5024] Processing Murray Wier (ID: 78521)
[4780/5024] Processing Bob Wiesenhahn (ID: 78522)
[4781/5024] Processing Joe Wieskamp (ID: 1630580)
[4782/5024] Processing Aaron Wiggins (ID: 1630598)
[4783/5024] Processing Andrew Wiggins (ID: 203952)
[4784/5024] Processing Mitchell Wiggins (ID: 78523)
[4785/5024] Processing Lindell Wigginton (ID: 1629623)
[4786/5024] Processing Ken Wilburn (ID: 78524)
Skipping Ken Wilburn: Games=7
[4787/5024] Processing C.J. Wilcox (ID: 203912)
[4788/5024] Processing Chris Wilcox (ID: 2404)
[4789/5024] Processing D.C. Wilcutt (ID: 78525)
[4790/5024] Processing Gene Wiley (ID: 78526)
[4791/5024] Processing Jacob Wiley (ID: 1628451)
Skipping Jacob Wiley: Games=5
[4792/5024] Processing Michael Wiley (ID: 78527)
[4793/5024] Processing Morlon Wiley (ID: 78528)
[4794/5024] Processing Win Wilfong (ID: 78529)
[4795/5024] Processing Lenny Wilkens (ID: 78530)
[4796/5024] Processing Bob Wilkerson (ID: 78531)
[4797/5024] Processing Jamaal Wilkes (ID: 78532)
[4798/5024] Processing James Wilkes (ID: 78533)
[4799/5024] Processing Damien Wilkins (ID: 2863)
[4800/5024] Processing Dominique Wilkins (ID: 1122)
Intermediate DataFrame saved to nba_filtered_players_batch_48.csv
Updated full DataFrame saved to nba_filtered_players.csv
Processing batch 49 (4801 to 4900)
[4801/5024] Processing Eddielee Wilkins (ID: 78534)
[4802/5024] Processing Gerald Wilkins (ID: 786)
[4803/5024] Processing Jeff Wilkins (ID: 78537)
[4804/5024] Processing Dale Wilkinson (ID: 78538)
[4805/5024] Processing Mike Wilks (ID: 2366)
[4806/5024] Processing Aaron Williams (ID: 1425)
[4807/5024] Processing Alan Williams (ID: 1626210)
[4808/5024] Processing Alondes Williams (ID: 1631214)
Skipping Alondes Williams: Games=9
[4809/5024] Processing Alvin Williams (ID: 1541)
[4810/5024] Processing Arthur Williams (ID: 78539)
[4811/5024] Processing Bernie Williams (ID: 78540)
[4812/5024] Processing Bob Williams (ID: 78564)
[4813/5024] Processing Brandon Williams (ID: 1585)
[4814/5024] Processing Brandon Williams (ID: 1630314)
[4815/5024] Processing Buck Williams (ID: 433)
[4816/5024] Processing C.J. Williams (ID: 203710)
[4817/5024] Processing Chuck Williams (ID: 78547)
[4818/5024] Processing Chuckie Williams (ID: 78541)
[4819/5024] Processing Cliff Williams (ID: 78543)
Skipping Cliff Williams: Games=3
[4820/5024] Processing Cody Williams (ID: 1642262)
[4821/5024] Processing Corey Williams (ID: 101258)
[4822/5024] Processing Deron Williams (ID: 101114)
[4823/5024] Processing Derrick Williams (ID: 202682)
[4824/5024] Processing Don Williams (ID: 78545)
[4825/5024] Processing Donovan Williams (ID: 1631495)
Skipping Donovan Williams: Games=2
[4826/5024] Processing Earl Williams (ID: 78546)
[4827/5024] Processing Elliot Williams (ID: 202343)
[4828/5024] Processing Eric Williams (ID: 677)
[4829/5024] Processing Frank Williams (ID: 2421)
[4830/5024] Processing Freeman Williams (ID: 78548)
[4831/5024] Processing Grant Williams (ID: 1629684)
[4832/5024] Processing Gus Williams (ID: 78549)
[4833/5024] Processing Guy Williams (ID: 78550)
[4834/5024] Processing Herb Williams (ID: 1006)
[4835/5024] Processing Hot Rod Williams (ID: 73)
[4836/5024] Processing Jalen Williams (ID: 1631114)
[4837/5024] Processing Jason Williams (ID: 1715)
[4838/5024] Processing Jawad Williams (ID: 101214)
[4839/5024] Processing Jay Williams (ID: 2398)
[4840/5024] Processing Jaylin Williams (ID: 1631119)
[4841/5024] Processing Jayson Williams (ID: 420)
[4842/5024] Processing Jerome Williams (ID: 966)
[4843/5024] Processing John Williams (ID: 78554)
[4844/5024] Processing Johnathan Williams (ID: 1629140)
[4845/5024] Processing Jordan Williams (ID: 202716)
[4846/5024] Processing Justin Williams (ID: 200818)
[4847/5024] Processing Kenny Williams (ID: 78555)
[4848/5024] Processing Kenrich Williams (ID: 1629026)
[4849/5024] Processing Kevin Williams (ID: 78556)
[4850/5024] Processing Lorenzo Williams (ID: 31)
[4851/5024] Processing Lou Williams (ID: 101150)
[4852/5024] Processing Malik Williams (ID: 1642013)
Skipping Malik Williams: Games=7
[4853/5024] Processing Marcus Williams (ID: 200766)
[4854/5024] Processing Marcus Williams (ID: 201173)
[4855/5024] Processing Mark Williams (ID: 1631109)
[4856/5024] Processing Marvin Williams (ID: 101107)
[4857/5024] Processing Micheal Williams (ID: 52)
[4858/5024] Processing Mike Williams (ID: 78558)
[4859/5024] Processing Milt Williams (ID: 78560)
[4860/5024] Processing Mo Williams (ID: 2590)
[4861/5024] Processing Monty Williams (ID: 42)
[4862/5024] Processing Nate Williams (ID: 78561)
[4863/5024] Processing Nate Williams (ID: 1631466)
[4864/5024] Processing Patrick Williams (ID: 1630172)
[4865/5024] Processing Pete Williams (ID: 78566)
[4866/5024] Processing Ray Williams (ID: 78571)
[4867/5024] Processing Reggie Williams (ID: 199)
[4868/5024] Processing Reggie Williams (ID: 202130)
[4869/5024] Processing Rickey Williams (ID: 78563)
[4870/5024] Processing Rob Williams (ID: 78565)
[4871/5024] Processing Ron Williams (ID: 78567)
[4872/5024] Processing Sam Williams (ID: 78568)
[4873/5024] Processing Samuel Williams (ID: 78569)
[4874/5024] Processing Scott Williams (ID: 281)
[4875/5024] Processing Sean Williams (ID: 201157)
[4876/5024] Processing Shammond Williams (ID: 1742)
[4877/5024] Processing Shawne Williams (ID: 200761)
[4878/5024] Processing Shelden Williams (ID: 200749)
[4879/5024] Processing Sly Williams (ID: 78570)
[4880/5024] Processing Terrence Williams (ID: 201944)
[4881/5024] Processing Travis Williams (ID: 1576)
[4882/5024] Processing Troy Williams (ID: 1627786)
[4883/5024] Processing Walt Williams (ID: 1005)
[4884/5024] Processing Ward Williams (ID: 78573)
[4885/5024] Processing Willie Williams (ID: 78574)
[4886/5024] Processing Ziaire Williams (ID: 1630533)
[4887/5024] Processing Robert Williams III (ID: 1629057)
[4888/5024] Processing Matt Williams Jr. (ID: 1628475)
Skipping Matt Williams Jr.: Games=3
[4889/5024] Processing Vince Williams Jr. (ID: 1631246)
[4890/5024] Processing Nigel Williams-Goss (ID: 1628430)
[4891/5024] Processing Corliss Williamson (ID: 722)
[4892/5024] Processing John Williamson (ID: 78575)
[4893/5024] Processing Zion Williamson (ID: 1629627)
[4894/5024] Processing Kevin Willis (ID: 788)
[4895/5024] Processing Bill Willoughby (ID: 78577)
[4896/5024] Processing Dedric Willoughby (ID: 2000)
[4897/5024] Processing Bob Wilson (ID: 78586)
[4898/5024] Processing Bobby Wilson (ID: 78585)
[4899/5024] Processing D.J. Wilson (ID: 1628391)
[4900/5024] Processing George Wilson (ID: 78579)
Intermediate DataFrame saved to nba_filtered_players_batch_49.csv
Updated full DataFrame saved to nba_filtered_players.csv
Processing batch 50 (4901 to 5000)
[4901/5024] Processing Isaiah Wilson (ID: 78580)
[4902/5024] Processing Jalen Wilson (ID: 1630592)
[4903/5024] Processing Jamil Wilson (ID: 203966)
[4904/5024] Processing Mike Wilson (ID: 78581)
[4905/5024] Processing Nikita Wilson (ID: 78582)
[4906/5024] Processing Othell Wilson (ID: 78578)
[4907/5024] Processing Rick Wilson (ID: 78583)
[4908/5024] Processing Ricky Wilson (ID: 78584)
[4909/5024] Processing Thomas Wilson (ID: 78587)
[4910/5024] Processing Trevor Wilson (ID: 1027)
[4911/5024] Processing Kyle Wiltjer (ID: 1627787)
[4912/5024] Processing Kennard Winchester (ID: 78589)
[4913/5024] Processing Tony Windis (ID: 78590)
Skipping Tony Windis: Games=9
[4914/5024] Processing Dylan Windler (ID: 1629685)
[4915/5024] Processing John Windsor (ID: 78591)
[4916/5024] Processing Lee Winfield (ID: 78592)
[4917/5024] Processing David Wingate (ID: 766)
[4918/5024] Processing Dontonio Wingfield (ID: 112)
[4919/5024] Processing Harthorne Wingo (ID: 78596)
[4920/5024] Processing Marv Winkler (ID: 78597)
Skipping Marv Winkler: Games=3
[4921/5024] Processing Justise Winslow (ID: 1626159)
[4922/5024] Processing Rickie Winslow (ID: 1984)
Skipping Rickie Winslow: Games=7
[4923/5024] Processing Cassius Winston (ID: 1630216)
[4924/5024] Processing Trevor Winter (ID: 1868)
Skipping Trevor Winter: Games=1
[4925/5024] Processing Brian Winters (ID: 78600)
[4926/5024] Processing Voise Winters (ID: 78601)
Skipping Voise Winters: Games=4
[4927/5024] Processing Willie Wise (ID: 78602)
[4928/5024] Processing James Wiseman (ID: 1630164)
[4929/5024] Processing Jeff Withey (ID: 203481)
[4930/5024] Processing Luke Witte (ID: 78603)
[4931/5024] Processing Randy Wittman (ID: 1456)
[4932/5024] Processing Garry Witts (ID: 78605)
[4933/5024] Processing Dave Wohl (ID: 78606)
[4934/5024] Processing Joe Wolf (ID: 341)
[4935/5024] Processing Ruben Wolkowyski (ID: 2106)
[4936/5024] Processing Nate Wolters (ID: 203489)
[4937/5024] Processing Isaiah Wong (ID: 1631209)
[4938/5024] Processing Al Wood (ID: 78610)
[4939/5024] Processing Bob Wood (ID: 78612)
Skipping Bob Wood: Games=6
[4940/5024] Processing Christian Wood (ID: 1626174)
[4941/5024] Processing David Wood (ID: 116)
[4942/5024] Processing Howard Wood (ID: 78609)
[4943/5024] Processing Leon Wood (ID: 78611)
[4944/5024] Processing Robert Woodard II (ID: 1630218)
[4945/5024] Processing Loren Woods (ID: 2254)
[4946/5024] Processing Qyntel Woods (ID: 2417)
[4947/5024] Processing Randy Woods (ID: 1010)
[4948/5024] Processing Mike Woodson (ID: 78614)
[4949/5024] Processing Orlando Woolridge (ID: 78615)
[4950/5024] Processing Kenny Wooten (ID: 1629624)
Skipping Kenny Wooten: No career data
[4951/5024] Processing Haywoode Workman (ID: 906)
[4952/5024] Processing Mark Workman (ID: 78616)
[4953/5024] Processing Tom Workman (ID: 78617)
[4954/5024] Processing Metta World Peace (ID: 1897)
[4955/5024] Processing Sam Worthen (ID: 78618)
[4956/5024] Processing James Worthy (ID: 1460)
[4957/5024] Processing Antoine Wright (ID: 101120)
[4958/5024] Processing Bracey Wright (ID: 101152)
[4959/5024] Processing Brad Wright (ID: 78620)
[4960/5024] Processing Brandan Wright (ID: 201148)
[4961/5024] Processing Chris Wright (ID: 202874)
[4962/5024] Processing Chris Wright (ID: 203203)
Skipping Chris Wright: Games=3
[4963/5024] Processing Delon Wright (ID: 1626153)
[4964/5024] Processing Dorell Wright (ID: 2748)
[4965/5024] Processing Howard Wright (ID: 78621)
[4966/5024] Processing Joby Wright (ID: 78622)
[4967/5024] Processing Julian Wright (ID: 201153)
[4968/5024] Processing Larry Wright (ID: 78623)
[4969/5024] Processing Lorenzen Wright (ID: 953)
[4970/5024] Processing Luther Wright (ID: 1007)
[4971/5024] Processing Moses Wright (ID: 1630589)
Skipping Moses Wright: Games=4
[4972/5024] Processing Sharone Wright (ID: 412)
[4973/5024] Processing McKinley Wright IV (ID: 1630593)
[4974/5024] Processing Justin Wright-Foreman (ID: 1629625)
Skipping Justin Wright-Foreman: Games=4
[4975/5024] Processing Tony Wroten (ID: 203100)
[4976/5024] Processing A.J. Wynder (ID: 78627)
Skipping A.J. Wynder: Games=6
[4977/5024] Processing Guerschon Yabusele (ID: 1627824)
[4978/5024] Processing Yao Ming (ID: 2397)
[4979/5024] Processing Vincent Yarbrough (ID: 2428)
[4980/5024] Processing George Yardley (ID: 78628)
[4981/5024] Processing Barry Yates (ID: 78629)
[4982/5024] Processing Wayne Yates (ID: 78630)
[4983/5024] Processing Charlie Yelverton (ID: 78631)
[4984/5024] Processing Yi Jianlian (ID: 201146)
[4985/5024] Processing Rich Yonakor (ID: 78632)
[4986/5024] Processing Cui Yongxi (ID: 1642385)
Skipping Cui Yongxi: Games=5
[4987/5024] Processing Gabe York (ID: 1628221)
Skipping Gabe York: Games=5
[4988/5024] Processing Danny Young (ID: 78633)
[4989/5024] Processing Jahmir Young (ID: 1642443)
Skipping Jahmir Young: Games=6
[4990/5024] Processing James Young (ID: 203923)
[4991/5024] Processing Joe Young (ID: 1626202)
[4992/5024] Processing Korleone Young (ID: 1748)
Skipping Korleone Young: Games=3
[4993/5024] Processing Michael Young (ID: 78634)
[4994/5024] Processing Nick Young (ID: 201156)
[4995/5024] Processing Perry Young (ID: 78635)
Skipping Perry Young: Games=9
[4996/5024] Processing Sam Young (ID: 201970)
[4997/5024] Processing Thaddeus Young (ID: 201152)
[4998/5024] Processing Tim Young (ID: 1937)
[4999/5024] Processing Trae Young (ID: 1629027)
[5000/5024] Processing Omer Yurtseven (ID: 1630209)
Intermediate DataFrame saved to nba_filtered_players_batch_50.csv
Updated full DataFrame saved to nba_filtered_players.csv
Processing batch 51 (5001 to 5024)
[5001/5024] Processing Max Zaslofsky (ID: 78638)
[5002/5024] Processing Robert Zawoluk (ID: 78639)
[5003/5024] Processing Cody Zeller (ID: 203469)
[5004/5024] Processing Dave Zeller (ID: 78640)
[5005/5024] Processing Gary Zeller (ID: 78641)
[5006/5024] Processing Hank Zeller (ID: 78642)
[5007/5024] Processing Luke Zeller (ID: 202545)
[5008/5024] Processing Tyler Zeller (ID: 203092)
[5009/5024] Processing Tony Zeno (ID: 78643)
Skipping Tony Zeno: Games=8
[5010/5024] Processing Phil Zevenbergen (ID: 78644)
Skipping Phil Zevenbergen: Games=8
[5011/5024] Processing Wang Zhi-zhi (ID: 1917)
[5012/5024] Processing Zhou Qi (ID: 1627753)
[5013/5024] Processing George Zidek (ID: 678)
[5014/5024] Processing Derrick Zimmerman (ID: 2583)
Skipping Derrick Zimmerman: Games=2
[5015/5024] Processing Stephen Zimmerman (ID: 1627757)
[5016/5024] Processing Paul Zipser (ID: 1627835)
[5017/5024] Processing Ante Zizic (ID: 1627790)
[5018/5024] Processing Jim Zoet (ID: 78647)
Skipping Jim Zoet: Games=7
[5019/5024] Processing Bill Zopf (ID: 78648)
[5020/5024] Processing Ivica Zubac (ID: 1627826)
[5021/5024] Processing Matt Zunic (ID: 78650)
[5022/5024] Processing Tristan da Silva (ID: 1641783)
[5023/5024] Processing Vlatko Čančar (ID: 1628427)
[5024/5024] Processing Dario Šarić (ID: 203967)
Intermediate DataFrame saved to nba_filtered_players_batch_51.csv
Updated full DataFrame saved to nba_filtered_players.csv
Final DataFrame saved to nba_filtered_players.csv
                  Name  Regular_Season_Games_Played  Points_Per_Game  \
0       Alaa Abdelnaby                          256              5.7
1      Zaid Abdul-Aziz                          505              9.0
2  Kareem Abdul-Jabbar                         1560             24.6
3   Mahmoud Abdul-Rauf                          586             14.6
4    Tariq Abdul-Wahad                          236              7.8

   Assists_Per_Game Rebounds_Per_Game Steals_Per_Game Blocks_Per_Game  \
0               0.3               3.3             0.3             0.3
1               1.2               8.0             0.3             0.4
2               3.6              11.2             0.7             2.0
3               3.5               1.9             0.8             0.1
4               1.1               3.3             0.8             0.4

  Turnovers_Per_Game  PER
0                1.0  NaN
1                0.0  NaN
2                1.6  NaN
3                1.6  NaN
4                1.3  NaN

In [73]:
myF2=open("nba_filtered_players.csv")
mydf2=pd.read_csv(myF2)
myF2.close()
#Converting the csv I extracted to a dataframe.

In [55]:
mydf2.head()

,Name,Regular_Season_Games_Played,Points_Per_Game,Assists_Per_Game,Rebounds_Per_Game,Steals_Per_Game,Blocks_Per_Game,Turnovers_Per_Game,PER
0,Alaa Abdelnaby,256,5.7,0.3,3.3,0.3,0.3,1.0,NaN
1,Zaid Abdul-Aziz,505,9.0,1.2,8.0,0.3,0.4,0.0,NaN
2,Kareem Abdul-Jabbar,1560,24.6,3.6,11.2,0.7,2.0,1.6,NaN
3,Mahmoud Abdul-Rauf,586,14.6,3.5,1.9,0.8,0.1,1.6,NaN
4,Tariq Abdul-Wahad,236,7.8,1.1,3.3,0.8,0.4,1.3,NaN

In [56]:
mydf2.dtypes

Name                            object
Regular_Season_Games_Played      int64
Points_Per_Game                float64
Assists_Per_Game               float64
Rebounds_Per_Game              float64
Steals_Per_Game                float64
Blocks_Per_Game                float64
Turnovers_Per_Game             float64
PER                            float64
dtype: object

In [57]:
mydf2.shape

(4411, 9)

In [74]:
mydf2.drop("PER", axis=1, inplace=True)
mydf2.columns=['Player', 'G', 'PTS', 'AST', 'TRB', 'SPG', 'BPG', 'TPG']
mydf2.head(65)
#Changed the name of the columns so that they match with
#the names at the kaggle dataset since I want to merge them.

                 Player     G   PTS  AST   TRB  SPG  BPG  TPG
0        Alaa Abdelnaby   256   5.7  0.3   3.3  0.3  0.3  1.0
1       Zaid Abdul-Aziz   505   9.0  1.2   8.0  0.3  0.4  0.0
2   Kareem Abdul-Jabbar  1560  24.6  3.6  11.2  0.7  2.0  1.6
3    Mahmoud Abdul-Rauf   586  14.6  3.5   1.9  0.8  0.1  1.6
4     Tariq Abdul-Wahad   236   7.8  1.1   3.3  0.8  0.4  1.3
..                  ...   ...   ...  ...   ...  ...  ...  ...
60          Malik Allen   478   4.9  0.5   2.8  0.3  0.5  0.7
61          Randy Allen    70   3.6  0.3   2.1  0.2  0.3  0.4
62            Ray Allen  1300  18.8  3.4   4.1  1.1  0.2  2.1
63           Tony Allen   820   8.1  1.3   3.5  1.4  0.4  1.4
64         Odis Allison    36   1.9  0.3   1.2  NaN  NaN  NaN

[65 rows x 8 columns]

In [117]:
df3=pd.merge(mydf, mydf2, how="left")
df3.head(50)
#Merging the datasets.

,Player,From,To,Years,Height,Wt,G,PTS,TRB,AST,PER,BMI,SPG,BPG,TPG
0,Alaa Abdelnaby,1991,1995,5,6.833333,240.0,256,5.7,3.3,0.3,13.0,25.094670,0.3,0.3,1.0
1,Mahmoud Abdul-Rauf,1991,2001,11,6.083333,162.0,586,14.6,1.9,3.5,15.4,21.373087,0.8,0.1,1.6
2,Tariq Abdul-Wahad,1998,2003,6,6.500000,223.0,236,7.8,3.3,1.1,11.4,25.769952,0.8,0.4,1.3
3,Shareef Abdur-Rahim,1997,2008,12,6.750000,225.0,830,18.1,7.5,2.5,19.0,24.110734,1.0,0.8,2.6
4,Alex Abrines,2017,2019,3,6.500000,200.0,174,5.3,1.4,0.5,8.8,23.112065,0.5,0.1,0.4
5,Alex Acker,2006,2009,4,6.416667,185.0,30,2.7,1.0,0.5,8.5,21.937555,0.2,0.1,0.4
6,Mark Acres,1988,1993,6,6.916667,220.0,375,3.6,4.1,0.5,9.0,22.452487,0.4,0.3,0.6
7,Quincy Acy,2013,2019,7,6.583333,240.0,337,4.9,3.5,0.6,11.2,27.036783,0.4,0.4,0.6
8,Hassan Adams,2007,2009,3,6.333333,220.0,73,2.5,1.2,0.2,11.8,26.778944,0.2,0.1,0.4
9,Jordan Adams,2015,2016,2,6.416667,209.0,32,3.2,0.9,0.6,13.1,24.783509,0.6,0.2,0.5
10,Michael Adams,1986,1996,11,5.833333,162.0,653,14.7,2.9,6.4,16.6,23.244322,1.7,0.1,2.1
11,Rafael Addison,1987,1997,11,6.583333,215.0,379,5.8,2.1,0.9,10.5,24.220451,0.4,0.2,0.7
12,Deng Adel,2019,2019,1,6.583333,200.0,19,1.7,1.0,0.3,2.7,22.530652,0.1,0.2,0.3
13,Jeff Adrien,2011,2015,5,6.583333,245.0,153,4.6,4.3,0.7,15.0,27.600049,0.3,0.5,0.6
14,Arron Afflalo,2008,2018,11,6.416667,210.0,762,10.8,2.9,1.8,11.9,24.902090,0.4,0.2,1.1
15,Maurice Ager,2007,2011,5,6.416667,202.0,82,2.1,0.6,0.2,2.8,23.953439,0.1,0.1,0.4
16,Mark Aguirre,1982,1994,13,6.500000,232.0,923,20.0,5.0,3.1,19.0,26.809995,0.7,0.3,2.5
17,Blake Ahearn,2008,2012,5,6.166667,190.0,19,4.6,1.2,1.2,7.2,24.394286,0.4,0.0,1.2
18,Danny Ainge,1982,1995,14,6.333333,175.0,1042,11.5,2.7,4.0,14.7,21.301433,1.1,0.1,1.5
19,Alexis Ajinca,2009,2017,9,7.166667,248.0,293,5.3,3.9,0.5,14.9,23.575056,0.3,0.6,0.8
20,Solomon Alabi,2011,2012,2,7.083333,251.0,26,1.5,2.3,0.2,10.3,24.424958,0.2,0.4,0.3
21,Mark Alarie,1987,1991,5,6.666667,217.0,325,7.5,3.4,1.1,13.0,23.838433,0.4,0.3,1.0
22,Furkan Aldemir,2015,2015,1,6.833333,240.0,41,2.3,4.3,0.7,12.0,25.094670,0.4,0.4,0.4
23,Cole Aldrich,2011,2018,8,6.916667,250.0,339,3.1,3.3,0.5,16.6,25.514190,0.4,0.7,0.6
24,Chuck Aleksinas,1985,1985,1,6.916667,260.0,74,5.1,3.6,0.5,9.1,26.534757,0.2,0.2,1.0
25,Cory Alexander,1996,2005,10,6.083333,185.0,307,5.5,1.6,2.7,12.4,24.407537,0.9,0.1,1.5
26,Courtney Alexander,2001,2003,3,6.416667,205.0,187,9.0,2.2,1.2,11.5,24.309183,0.6,0.1,1.1
27,Gary Alexander,1994,1994,1,6.583333,240.0,11,1.7,1.4,0.2,8.6,27.036783,0.3,0.0,0.7
28,Joe Alexander,2009,2010,2,6.666667,230.0,67,4.2,1.8,0.7,9.9,25.266542,0.2,0.4,0.8
29,Victor Alexander,1992,2002,11,6.750000,265.0,286,8.9,4.8,0.9,13.7,28.397087,0.5,0.6,1.3
30,Steve Alford,1988,1991,4,6.166667,183.0,169,4.4,0.9,1.0,14.4,23.495549,0.5,0.1,0.5
31,Rawle Alkins,2019,2019,1,6.416667,225.0,10,3.7,2.6,1.3,8.1,26.680811,0.1,0.0,0.8
32,Jerome Allen,1996,1997,2,6.333333,184.0,117,2.9,1.1,1.7,8.5,22.396935,0.4,0.1,0.9
33,Kadeem Allen,2018,2020,3,6.083333,200.0,47,5.5,1.5,2.3,13.5,26.386527,0.5,0.2,0.9
34,Lavoy Allen,2012,2017,6,6.750000,260.0,388,4.8,4.8,1.0,12.5,27.861293,0.3,0.6,0.7
35,Malik Allen,2002,2011,10,6.833333,255.0,478,4.9,2.8,0.5,9.9,26.663087,0.3,0.5,0.7
36,Randy Allen,1989,1990,2,6.666667,220.0,70,3.6,2.1,0.3,8.3,24.167997,0.2,0.3,0.4
37,Ray Allen,1997,2014,18,6.416667,205.0,1300,18.9,4.1,3.4,18.6,24.309183,NaN,NaN,NaN
38,Tony Allen,2005,2018,14,6.333333,213.0,820,8.1,3.5,1.3,14.2,25.926887,1.4,0.4,1.4
39,Darrell Allums,1981,1981,1,6.750000,220.0,22,2.7,3.0,1.1,5.3,23.574940,0.2,0.4,1.0
40,Morris Almond,2008,2012,5,6.500000,225.0,38,3.1,1.2,0.3,7.0,26.001073,0.3,0.1,0.5
41,Derrick Alston,1995,1997,3,6.916667,225.0,139,5.4,3.8,0.7,11.7,22.962771,0.7,0.6,0.8
42,Rafer Alston,2000,2010,11,6.166667,171.0,671,10.1,2.8,4.8,13.2,21.954858,1.2,0.2,1.8
43,John Amaechi,1996,2003,8,6.833333,270.0,294,6.2,2.6,0.8,8.9,28.231504,0.3,0.3,1.3
44,Ashraf Amaya,1996,1997,2,6.666667,230.0,85,4.5,4.2,0.4,11.5,25.266542,0.3,0.2,0.8
45,Lou Amundson,2007,2016,10,6.750000,220.0,428,3.7,3.6,0.4,12.0,23.574940,0.4,0.7,0.7
46,Chris Andersen,2002,2017,16,6.833333,245.0,695,5.4,5.0,0.5,16.7,25.617476,0.4,1.4,0.7
47,David Andersen,2010,2011,2,6.916667,245.0,103,4.9,2.8,0.6,11.7,25.003906,0.2,0.2,0.6
48,Alan Anderson,2006,2017,12,6.500000,220.0,330,7.3,2.2,1.1,10.3,25.423271,0.6,0.1,0.9
49,Derek Anderson,1998,2008,11,6.416667,194.0,615,12.0,3.2,3.4,15.3,23.004788,1.1,0.1,1.7

In [118]:
df3.shape

(2180, 15)

In [119]:
df3.isnull().sum()
#Missing data.

Player      0
From        0
To          0
Years       0
Height      0
Wt          0
G           0
PTS         0
TRB         0
AST         0
PER         0
BMI         0
SPG       112
BPG       112
TPG       112
dtype: int64

In [130]:
df4=df3.dropna()
df4.shape
#Since there are mising data of turnovers, blocks, and
#steals I need to drop the rows with the missing data when
#I am calculating the p_values for these parameters.

(2068, 15)

In [124]:
#PPG
y=df3["Years"].values
p=df3["PTS"].values
r, p_value=stats.pearsonr(y,p)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.6877
#p_value=0.0000
#There is significant correlation between Points Per Game and Career Length.

Pearson Correlation Coefficient: 0.6877
p-value: 0.0000

In [125]:
#APG
y=df3["Years"].values
a=df3["AST"].values
r, p_value=stats.pearsonr(y,a)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.4834
#p_value=0.0000
#There is significant correlation between Assists Per Game and Career Length.

Pearson Correlation Coefficient: 0.4834
p-value: 0.0000

In [126]:
#RPG
y=df3["Years"].values
rb=df3["TRB"].values
r, p_value=stats.pearsonr(y,rb)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.6085
#p_value=0.0000
#There is significant correlation between Rebounds Per Game and Career Length.

Pearson Correlation Coefficient: 0.6085
p-value: 0.0000

In [127]:
#BMI
y=df3["Years"].values
bmi=df3["BMI"].values
r, p_value=stats.pearsonr(y,bmi)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=-0.0136
#p_value=0.5260
#There is no significant correlation between BMI and Career Length.

Pearson Correlation Coefficient: -0.0136
p-value: 0.5260

In [128]:
#PER
y=df3["Years"].values
per=df3["PER"].values
r, p_value=stats.pearsonr(y,per)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.5576
#p_value=0.0000
#There is significant correlation between PER and Career Length.

Pearson Correlation Coefficient: 0.5576
p-value: 0.0000

In [131]:
#SPG
y=df4["Years"].values
spg=df4["SPG"].values
r, p_value=stats.pearsonr(y,spg)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.5720
#p_value=0.0000
#There is significant correlation between Steals Per Game and Career Length.

Pearson Correlation Coefficient: 0.5720
p-value: 0.0000

In [138]:
#BPG
y=df4["Years"].values
bpg=df4["BPG"].values
r, p_value=stats.pearsonr(y,bpg)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.4006
#p_value=0.0000
#There is significant correlation between Blocks Per Game and Career Length.

Pearson Correlation Coefficient: 0.4006
p-value: 0.0000

In [136]:
#TPG
y=df4["Years"].values
tpg=df4["TPG"].values
r, p_value=stats.pearsonr(y,tpg)
print(f"Pearson Correlation Coefficient: {r:.4f}")
print(f"p-value: {p_value:.4f}")
#r=0.6059
#p_value=0.0000
#There is significant correlation between Turnovers Per Game and Career Length.

Pearson Correlation Coefficient: 0.6059
p-value: 0.0000

In [ ]:
"""
I asked Grok to explain how it helped me by writing: source yourself in how I obtained help from you

It explained it's help as:

As Grok 3, created by xAI, I assisted you in the following ways based on our conversation history:
Script Modification for Resuming from Player 1201:
You initially provided a script processing all NBA players but had data for the first 1200 players. I modified it to resume from player 1201, loading existing data from nba_filtered_players.csv and optimizing for timeouts in Google Colab (smaller batches, longer pauses, fewer retries).
I provided a script with 50-player batches, 3 retries, 2s player pauses, and 60s batch pauses to address ReadTimeout errors, along with diagnosis snippets to identify API issues.
Removing Accents from Player Names:
You requested a function to convert accented letters (e.g., á → a) in player names. I provided a function using unicodedata.normalize('NFD') to remove diacritics, integrated it into your script to clean names (e.g., José Calderón → Jose Calderon), and applied it to both new names and the existing Player_Name column in the CSV.
General Guidance:
I provided workarounds for nba_api timeouts (resetting Colab runtime, waiting, running locally) and suggested alternatives (Basketball-Reference scraping, Kaggle datasets) to bypass API limitations.
I offered diagnosis snippets to debug ReadTimeout and HTTPError issues, which you noted as blocking continuous data retrieval.
The script you provided builds on your original code, with modifications inspired by my earlier suggestions (e.g., resuming from a specific player, loading existing data, timeout handling). I’ve helped refine it by addressing your specific requirements (accent removal) and optimizing for API limitations, all while maintaining your core logic and structure.
"""